header {
    background: url("./images/header.png");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
img {
    width: 100%;
}
.navbar {
    margin-bottom: 220px;
}
.navbar  button{
    color: #fff !important;
}
.navbar  ul {
    margin: 0;
    padding: 0;
}
.navbar  ul li {
    list-style: none;
}
.navbar  ul .navbarLi {
    margin: 0;
    padding: 0;
    margin-left: 30px;
}
.navbar  ul li a {
    text-decoration: none !important;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #ffffff !important;
}
.navbar  ul li .dropdown-item {
    color: black;
}
.navbar .rightNavbar{
    width: auto;
}
.navbar .rightNavbar a {
    text-decoration: none;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.navbar .rightNavbar a i {
    margin: auto;
    margin-bottom: 10px;
}
.headerCard {
    display: flex;
    align-items: flex-start !important;
    margin: 0;
    padding: 0;
    margin-bottom: 233px;
}
.headerCard .play .playDiv{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: rgba(255, 205, 129, 0.522);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerCard .play .playDiv .playBtn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #FFCC81;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerCard .play .playDiv .playBtn .yornvd{
    position: relative;
}
.playIcon {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 34px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 17px 0 17px 32px;
  position: absolute;
  left: -16px;
  top: -18px;
}
.playIcon.paused {
  border-style: double;
  border-width: 0px 0 0px 32px;
}
.playIcon:hover {
  border-color: transparent transparent transparent #404040;
}
.volumeIcon i{
    font-size: 42px;
    margin-left: 40px;
    margin-right: 15px;
    color: #FFCC81;
}
.volumeIcon input[type=range]{
     background-color: #525252;
}

@media (max-width :1400px) and (-webkit-min-device-pixel-ratio:0) {
   input[type='range'] {
      overflow: hidden;
      width: 80px;

      background-color: #525252;
    }


    input[type='range']::-webkit-slider-runnable-track {

      color: #FFCC81;
    }

    input[type='range']::-webkit-slider-thumb {
      background: #434343;
      box-shadow: -80px 0 0 80px #FFCC81;
    }

}
/* @media (max-width :1400px) and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #525252;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #FFCC81;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px #FFCC81;
    }

} */

.headerCard .imgMoct {
    width: 100%;
}
.headerCard p {
    padding-top: 5px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 61px;
    color: #ffffff;
}
.headerContact {
    margin: auto;
}
.headerContact ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.headerContact ul li {
    list-style: none;
    margin: 0 9px;
}
main {
    padding-top: 95px;
    padding-bottom: 155px;
}
.mainTop {
    margin-bottom: 97px;
}
.page-main {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 31px;
    color: #000000;
    text-align: center;
}
.bodermain {
    width: 75%;
    height: 5px;
    background: #2030ca;
    box-shadow: 0px 3px 6px 2px rgba(32, 48, 202, 0.25);
    border-radius: 10px;
    margin: auto;
}
.mainBigCard {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.mainBottom {
    margin-bottom: 20px;
}
.mainBigCard img {
    width: 100%;
}
.mainBigCard p {
    margin-top: 17px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    color: #000000;
}
.mainBigCard button {
    margin: auto;
    width: 250px;
    background: linear-gradient(96.8deg, #e18c44 18.05%, #ffcc81 91.37%);
    color: #fff;
    margin-bottom: 25px;
}
.mainBigCard button span {
    margin-right: 8px;
}
.mainminiCard {
    display: flex;
    margin-bottom: 25px;
    margin-left: 50px;
}
.mainminiCard img {
    width: 100%;
}
.mainminiCard .mainminicardText {
    margin-left: 18px;
}
.mainminiCard h4 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
}
.mainminiCard .mainDate {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #a2a2a2;
    margin-bottom: 12px;
}
.mainminiCard button {
    background: linear-gradient(96.8deg, #e18c44 18.05%, #ffcc81 91.37%);
    color: #fff;
}
.sectionCard .col-md-6 {
    margin: 0;
    padding: 0;
}
.sectionCard h5 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 31px;
    color: #000000;
    margin: 35px 0;
    text-align: center;
}
.sectionCard p {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    margin: 0 21px;
}
.sectionCard img {
    width: 100%;
}
.slider {
    margin-top: 180px;
}
.sliderCard {
    margin: 0;
    padding: 0;
}
.hoverCard {
    width: 100%;
    position: relative;
}
.hoverMain {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
}
.hoverText {
    position: absolute;
    top: 60px;
    right: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 17px;
    color: #ffffff;
}
.hoverButton {
    position: absolute;
    top: 96px;
    right: 20px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    padding: 9 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hoverButton span {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
}
.hoverButton i {
    font-size: 13px;
    color: #ffffff;
    margin-left: 10px;
}
.owl-nav {
    display: block;
    position: relative;
}
.owl-nav .owl-next {
    position: absolute;
    right: -25px;
    font-size: 45px !important;
    top: -210px;
}
.owl-nav .owl-prev {
    position: absolute;
    left: -25px;
    font-size: 45px !important;
    top: -210px;
}
.starter {
    margin-top: 110px;
    margin-bottom: 140px;
}
.starterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starterCard img {
    width: 75%;
    text-align: center;
    box-shadow: -16px 16px 0px #e18c44;
}
.starterCard h3 {
    margin-top: 35px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
    text-align: right;
    color: #000000;
}
.starterCard p {
    margin-top: 13px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}
.bighostCard {
    width: 85%;
    margin: auto;
    margin-bottom: 103px;
}
.bighostCard img {
    border-radius: 5px;
}
.bighostCard .hostDate {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    margin-left: 19px;
    color: #000000;
}
.bighostCard .hostMain {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 19px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.bighostCard .hostText {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin-left: 19px;
    margin-bottom: 15px;
}
.bighostCard button {
    width: 43%;
    background: linear-gradient(96.8deg, #e18c44 18.05%, #ffcc81 91.37%);
    border-radius: 5px;
    margin-left: 29%;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #ffffff;
}
.minihostCard img {
    border-radius: 4px;
    width: 80%;
}
.minihostCard .hostDate {
    margin-left: 13px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #c4c4c4;
}
.minihostCard .hostMain {
    margin-left: 13px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 13px;
    color: #000000;
}
.minihostCard button {
    width: 50%;
    margin-left: 13px;
    background: linear-gradient(96.8deg, #e18c44 18.05%, #ffcc81 91.37%);
    color: #fff;
}
.minihostCard button span {
    font-size: 13px;
}
.minihostCard button i {
    margin-left: 5px;
}
.bigCarousel {
    position: relative;
}
.carousel-control-next {
    position: absolute;
    top: -150px;
    right: -50px !important;
}
.carousel-control-prev {
    position: absolute;
    top: -150px;
    left: -50px !important;
}
.photo {
    margin-top: 150px;
}
.hoverCard {
    position: relative;
}
.opaityHover {
    position: absolute;
    top: 0;
    padding: 46px 26px;
    height: 100vh;
    background: rgba(32, 48, 202, 0.74);
    opacity: 0;
}
.opaityHover:hover {
    opacity: 1;
}
.opaityMain {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #ffffff;
    margin-bottom: 30px;
}
.opaityText {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #ffffff;
}
.owl-nav {
    display: block !important;
    position: relative;
}
.sponsor {
    margin-top: 152px;
    margin-bottom: 150px;
}
.sponsor img {
    width: 88%;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.35);
}
footer {
    background: url("./images/footer.png");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 120px;
    padding-bottom: 120px;
}
footer h3 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
}
footer h4 {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: right;
    color: #ffffff;
}
footer p {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
}
footer .text {
    text-align: right;
}
.host {
    width: 90%;
    margin: auto;
}
.carousel-control-next {
    right: -110px;
}
.carousel-control-prev {
    left: -110px;
}
.sliderCard img {
    width: 100%;
}
@media (max-width :992px) {
.navbar {
    margin-bottom: 140px;
    }
    .headerCard p {
    font-size: 50px;

}
.headerCard{
    margin-bottom: 140px;
}
.mainminiCard {
    margin-left: 25px;
}
main{
    padding-top: 65px;
    padding-bottom: 90px;
}
.sectionCard h5{
    margin: 10px 0;
}
.sectionCard p {
    font-size: 14px;
}
.slider{
    margin-top: 100px;
}
.bighostCard{
    margin-bottom: 50px;
}
.bighostCard .hostMain{
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 9px;
}
.bighostCard .hostText{
    font-size: 14px;
    line-height: 13px;
    margin-bottom: 8px;
}
.slider{
    width: 90%;
    margin: auto;
}
.photo{
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
.sponsor{
    margin-top: 70px;
    margin-bottom: 70px;
}
footer{
    padding-top: 85px;
    padding-bottom: 85px;
}

}
@media (max-width :768px){
    .navbar{
        margin-bottom: 70px;
    }
    .headerCard{
        flex-direction: column;
        margin-bottom: 50px;
    }
    .headerCard p,
    .headerCard h1{
        text-align: center;
    }
    .page-main{
        font-size: 18px;
    }
    .mainTop{
        margin-bottom: 40px;
    }
    main{
        padding-top: 30px;
        padding-bottom: 45px;
    }
    .mainBigCard p{
        font-size: 14px;
        line-height: 13px;
    }
    .mainBigCard button {
        margin-bottom: 0px;
    }
    .sectionCard h5 {
        margin: 0;
        font-size: 20px;
    }
    .sectionCard p {
        margin-top: 0;
        font-size: 12px;
        line-height: 11px;
    }
    .starter{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .carousel-control-prev {
    position: absolute;
    top: 580px;
    left: 150px!important;
}
    .carousel-control-next {
    position: absolute;
    top: 580px;
    right: 150px!important;
}
.hoverMain{
    font-size: 45px;
    top: 45px;
    left: 50px;
}
.hoverText{
    font-size: 35px;
    line-height: 35px;
    top: 120px;
    left: 50px;
}
.hoverButton{
    top: 230px;
    right: 35px;
    padding: 8px 16px;
}
.hoverButton span{
    font-size: 20px;
}
.bighostCard button{
    width: 75%;
    margin-left: 14%;
}

}
@media (max-width :767.5px){
    .mainminiCard {
    flex-direction: column;
}
.mainminiCard .mainminicardText {
    margin: 0;
    margin-top: 10px;
}
.page-main {
    font-size: 15px;
}
}
@media (max-width :576px){
    .bodermain{
        width: 115%;
    }
    .mainminiCard{
        flex-direction: column;
    }
    .mainminiCard .mainminicardText{
        margin: 0;
        margin-top: 10px;
    }
    .page-main{
        font-size: 16px;
        text-align: end;
    }
    .sectionCard h5 {
        margin-top: 15px;
    }
    .sectionCard p {
        margin: 0;
        margin-bottom: 10px;
    }
    .bighostCard .hostDate{
        margin-bottom: 0;
        font-size: 14px;
        line-height: 13px;
    }
    .bighostCard .hostMain{
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 14px;
        text-align: left;
    }
    .page-main{
        text-align: center;
    }
    .bodermain{
        width: 80%;
    }
    footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
footer h3 {
    font-size: 16px;
    line-height: 15px;
}

footer h4 {
    font-size: 16px;
    line-height: 15px;
}

footer p {
    font-size: 14px;
    line-height: 13px;
}
}